body {
  background-color: #17191A;
}
.counter-container {
    margin: 2% auto;
    width: 250px;
    .numbers-container {
        position: relative;
        height: 150px;
        width: 250px;
        line-height: 150px;
        margin: 0 auto;
        background-color: #515151;
        padding: 10px;
        .number-container {
            position: relative;
            height: 90%;
            width: 45%;
            margin-top: 4%;
            padding-bottom: 3px;
            background-color: #fff;
            border: 2px solid #000;
            overflow: hidden;
            &.one {
                margin-left: 3%;
                float: left;
            }
            &.two {
                margin-left: 53%;
            }
        }
        .number {
            height: 100%;
            text-align: center;
            font-size: 10em;
            font-family: 'Helvetica Neue';
            margin-left: 10%;
            transform: translateY(-102%);
            &.current {
                letter-spacing: 25px;
            }
            &.previous {
                letter-spacing: 25px;
            }
            &.scroll {
                transform: translateY(0%);
                transition: 0.3s;
            }
        }
    }
    
    .buttons-container {
        position: relative;
        height: 30px;
        width: 250px;
        padding: 10px;
        background-color: #515151;
        .btn {
            height: 30px;
            width: 45%;
            margin-left: 3%;
            border-radius: 0;
            color: #fff;
            &:nth-child(2) {
              margin-left: 5%
            }
            &.start {
              background-color: #5fcf80;
              border-color: #000;
            }
            &.stop {
              background-color: #c9302c;
              border-color: #000;
            }
            &.reset {
              background-color: #3079AB;
              border-color: #000;
            }
        }
    }

}

